<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
  <title>Eat-Da-Burger! App</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="../../public/assets/js/burger.js"></script>
  {{!-- <script>
    <img src="../public/assets/img/burger.jpg" alt="hamburger-cartoon-holding-cutlery" class="pic" />
  </script> --}}
  <img src="https://cdn2.vectorstock.com/i/thumb-large/35/96/hamburger-cartoon-holding-cutlery-vector-7973596.jpg" alt="hamburger-cartoon-holding-cutlery">
</head>
<body>
  {{{ body }}} 
</body>
</html>
